<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HostIT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B37D0A51F69F7640048196E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B37D0B91F69F7640048196E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B37D0C41F69F7650048196E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
